.notFound-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    background-color: rgb(0, 25, 0);

}

.error-button {
    background-color: transparent;
    color: yellow;
    border-color: white;
}
.error-button:hover {
    background-color: yellow;
    color: black;
}