.aboutus-section {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: auto;
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

}


.aboutus-row {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aboutus-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}


.aboutus-image {
    max-width: 100%;
    height: 500px;
    width: 500px;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 100%;
    margin-top: 100px;
    margin-left: 100px;
}

.aboutus-chips {
    display: flex;
    gap: 10px;
}

.aboutus-chip-1 {
    color: white !important;
    background-color: rgb(1, 41, 1) !important;

}

.aboutus-chip-2 {
    color: black !important;
    background-color: yellow !important;
}

.aboutus-chip-3 {
    color: white !important;
    background-color: rgb(1, 41, 1) !important;
}

.aboutus-chip-4 {
    color: black !important;
    background-color: yellow !important;
}