.banner-section {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    background-image: url("./assets/vicfalls.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;


}


.banner-button {
    padding: 12px 44px;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(227, 247, 11, 0.5);
}

.banner-button:hover {
    background: linear-gradient(90deg, #efec2a, #053701);
    color: white;
    border-color: rgb(1, 62, 1);
    box-shadow: 0 0 5px rgb(210, 235, 25), 0 0 25px rgb(0, 40, 7), 0 0 50px rgb(190, 241, 22), 0 0 100px rgb(1, 47, 13), 0 0 200px rgb(222, 241, 17);
    border-color: whitesmoke;



}

h1 {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 72px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    color: white;
    text-wrap: inherit;
}

.banner-content {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;

}

.banner-text {
    font-size: 20px;
    margin-bottom: 40px;
    max-width: 600px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-left: 50px;
}

.banner-title {

    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-left: 50px;
}

.Row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}