.banner-section {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    color: #333;
    background-image: url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

Button {
    padding: 12px 44px;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

Button:hover {
    background: linear-gradient(90deg, #efec2a, #053701);
    color: #333;
    border-color: whitesmoke;
}

h1 {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 72px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    color: white;
    text-wrap: inherit;
}

.banner-content {
    text-align: start;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 200px;
}