.blog-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: auto;
    /* margin-top: 100px; */
    margin-bottom: 70px;
    background-color: rgb(244, 242, 240);
    padding: 50px;
    border-radius: 25px;
}


.blog-card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 400px;
    border: none;
    margin-top: 50px;
    padding: 10px;
    background-color: transparent;
    /* background-color: rgb(244, 242, 240); */
}

.blog-card-image {
    width: auto;
    height: 300px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10%;
}

.blog-card p {
    font-weight: 500;
}

.blog-card a {
    color: rgb(1, 32, 1);
}

.blog-card-content {
    margin-top: 10px;
    padding: 10px;
}

.blog-row {
    /* gap: 100px; */
    display: flex;
    flex-direction: row;
}

.blog-grid {
    display: flex;
    flex-direction: row;
}
.blog-card-content p {
    margin-bottom: 50px;
}