.blog-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: auto;
    margin-bottom: 70px;
    background-color: rgb(244, 242, 240);
    padding: 50px;

}


.blog-card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 400px;
    border: none;
    margin-top: 50px;
    padding: 10px;
    background-color: transparent;
}

.blog-card-image {
    width: auto;
    height: 300px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10%;
}

.blog-card p {
    font-weight: 600;
    font-size: larger;
}

.blog-card a {
    color: rgb(1, 32, 1);
}

.blog-card-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.blog-row {
    /* gap: 100px; */
    display: flex;
    flex-direction: row;

}

.blog-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.blog-card-content span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(1, 32, 1);
}

.blog-card-content h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(1, 32, 1);
    margin-bottom: 10px;
}

.blog-card-content p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(1, 32, 1);
    margin-bottom: 10px;
}

.blog-card-content a {
    color: rgb(1, 32, 1);
    font-weight: 600;
    text-decoration: underline;
}