.carousel-container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    height: auto;

}



.carousel-item {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.carousel-item h5 {
    color: white;
    font-size: 18px;
}

.carousel-card {
    height: 300px;
    width: 650px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    padding-left: 5px;
    display: flex;
}

.carousel-col {
    background-color: rgb(2, 35, 2);
    height: 100%;
}

.carousel-col-2 {
    background-color: yellow;
}


carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    gap: 40px;
}