.carousel-container {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;

}

.carousel-container .carousel-item img {
    width: 100%;
    height: auto;

}

.carousel-image {
    height: 100vh !important;
    width: 100%;
    object-fit: cover;
}