.destinations-section {
    width: 100%;
    height: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #111010;
    font-size: 20px;
}

h2 {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #013716;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
}

h5 {
    color: #013716;
}

.destinations-section .row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 15px;
}

.destination-images {
    height: 350px;
    width: 350px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.destination-image {
    height: 800px;
    width: 400px;
    max-width: 100%;
    border-radius: 25px;
    object-fit: cover
}


.destination-col {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.destination-grids {
    display: flex;
}

h5 {
    margin-top: 5px;
}