.destinations-section {
    width: 100%;
    height: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.destinations-card {
    display: flex;
    background-position: cover;
    background-attachment: fixed;
    /* background-color: #111010 !important; */
    height: 180px;
    width: 150px;
    gap: 20px !important;
    padding: 20px;
}

.destination-box {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    padding: 20px;

}

.destination-grid {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* margin-left: 20px; */
    /* gap: 10px; */
    /* padding: 20px; */
}



.destination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(152, 53, 53);
    /* padding: 20px; */
}

.destination-col {
    display: flex;
}

.destination-row {
    gap: 20px;
}

.destination-image {
    height: 350px;
    border-radius: 25px;
    width: 350px;

}

.destination-images {
    height: 700px;
    border-radius: 25px;
    width: 450px;
    margin-top: 0px;
}



p {
    color: #111010;
}

h2 {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #013716;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
}