.navbar {
    display: flex;
    align-items: flex-start;
    padding: 1rem 2rem;
    /* background-color: transparent !important; */
    gap: 10px;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: auto;
    height: 40px;
    max-height: 100px;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.3);
    border: 1.5px solid rgba(255, 255, 255, 0.18);
    transition: .5s ease;
}

.navbar a {
    position: relative;
    color: #013716 !important;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.1rem;
    transition: .5s ease;

}

.navbar a:hover {
    color: #ebfc50 !important;
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 2px;
    background: #f3fb0b;
    transition: width .3s ease;
}

.navbar a:hover::after {
    width: 100%;
    margin-bottom: 0px;
}

.nav-logo {
    height: 50px;
    aspect-ratio: 3/2;
    object-fit: cover;
    padding-bottom: 10px;
    width: 150px;
}

.nav-links {
    margin-top: 10px;
    margin-bottom: 10px;
}