.navbar {
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    padding: 1rem 2rem;
    background-color: transparent;
    gap: 10px;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* background-color: #ebfc50; */
    width: auto;
    max-height: 100px;


}

.navbar a {
    color: #013716 !important;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.1rem;
}

.navbar a:hover {
    color: #ebfc50 !important;
}

.nav-logo {
    height: 180px;

}