.navbar {
    gap: 10px;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: auto;
    height: 50px;
    max-height: 100px;
    backdrop-filter: blur(100px);
    transition: .5s ease;

}

.navbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    backdrop-filter: blur(100px);
}

.nav-container {
    display: flex;
    margin-top: 5px;
    background-color: transparent !important;


}

.nav-logo {
    margin-top: 15px;
    aspect-ratio: 3/2;
    object-fit: cover;
    margin-bottom: 30px;
    width: 150px;

}

.navbar a {
    position: relative;
    color: #013716 !important;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.1rem;
    transition: .5s ease;

}

.navbar a:hover {
    color: #ebfc50 !important;
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 2px;
    background: #f3fb0b;
    transition: width .3s ease;
    margin-bottom: 10px;
}



.navbar a:hover::after {
    width: 100%;
    margin-bottom: 0px;
}



.nav-links {
    margin-top: 10px;
    margin-bottom: 10px;
}