.packages-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: black;
    margin-bottom: 40px;
}

.packages-section .row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 15px;
}

.packages-image {
    height: 320px;
    width: 320px;
    margin-right: 50px;
    position: relative;
    top: 80px;
    left: 150px;
    object-fit: cover;
    max-width: auto;
}

.packages-container {
    display: flex;
}

.packages-chips {
    display: flex;
    gap: 10px;
}

.packages-chip-1 {
    color: white !important;
    background-color: rgb(1, 41, 1) !important;
}

.packages-chip-2 {
    color: black !important;
    background-color: yellow !important;
}

.packages-chip-3 {
    color: white !important;
    background-color: rgb(1, 41, 1) !important;
}

.packages-chip-4 {
    color: black !important;
    background-color: yellow !important;
}

.col-2 {
    background-color: yellow;
}

.packages-image {
    display: flex;
    width: 400px;
    border-radius: 25px;
    object-fit: cover;

}

/* .packages-section p {
    color: black;
    margin-top: 0px;
    margin-bottom: 40px;

}



.packages-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.packages-col {
    display: flex;
    flex-direction: column;

}

.packages-col-2 {
    display: flex;

    position: relative;


}

.packages-grid {
    display: flex;
    margin: 50px;
}



 */