.packages-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: black;
    margin-bottom: 40px;
}

.packages-section p {
    color: black;
    margin-top: 0px;
    margin-bottom: 40px;

}
.packages-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.packages-col {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
   

}
.packages-col-pics {
    display: flex;
}
.packages-col h3{
    color: rgb(1, 29, 1);
    margin-top: 0px;
}
.packages-col p{
  
    margin-right: 200px;
}
.packages-image-1 {
    height: 320px;
    width: 320px;
    margin-right: 50px;

    position: relative;
    top: 80px;
    left: 150px;
}
.packages-image-2 {
    height: 320px;
    width: 320px;
    margin-right: 50px;
}
.packages-chip-1{
    color: white !important;
    background-color: rgb(1, 41, 1) !important; 
}
.packages-chip-2 {
    color: black !important;
    background-color: yellow !important;
}
.packages-chip-3{
    color: white !important;
    background-color: rgb(1, 41, 1) !important; 
}
.packages-chip-4 {
    color: black !important;
    background-color: yellow !important;
}
.packages-chips{
    display: flex;
    gap: 10px;
    box-shadow: 10px;
}












