.packages-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: black;
}

.packages-section p {
    color: black;
    margin-top: 0px;

}

.packages-box {
    /* display: flex;
    flex-direction: row; */
    /* gap: 20px; */

}




.packages-content {

    margin-bottom: 10px;
    padding: 40px;
    width: 75%;
    /* margin-top: 20px; */
}

.packages-content-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
}

.packages-image {
    height: 220px;
    width: 200px;
    padding-right: 50px;
    margin-right: 50px;
}



.packages-h3 {
    padding-left: 20px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0px;

}

.packages-h5 {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 15px;
    color: blue;

}

.packages-button {
    background-color: rgb(1, 43, 20);
    margin-top: 10px;
}