.packages-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: black;
    margin-bottom: 40px;
    margin: 40px;
}

.packages-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 15px;
    margin: 15px;
}

.packages-image {
    height: 320px;
    margin-right: 50px;
    position: relative;
    top: 30px;
    left: 100px;
    max-width: auto;
    display: flex;
    width: 400px;
    border-radius: 25px;
    object-fit: cover;
}

.packages-container {
    display: flex;
}

.packages-chips {
    display: flex;
    gap: 10px;
}

.packages-chip-1 {
    color: white !important;
    background-color: rgb(1, 41, 1) !important;
}

.packages-chip-2 {
    color: black !important;
    background-color: yellow !important;
}

.packages-chip-3 {
    color: white !important;
    background-color: rgb(1, 41, 1) !important;
}

.packages-chip-4 {
    color: black !important;
    background-color: yellow !important;
}

.col-2 {
    background-color: yellow;
}