.services-title {
    color: #013716;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 48px;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

.services-section {
    margin-bottom: 20px;
    margin-top: 0px;
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url("./assets/sky.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.7; */
    /* background-attachment: fixed; */
}

.services-title {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.services-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 20px;
}



.services-card {
    gap: 10px;
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 220px;
    border-radius: 10px;
    margin-top: 0px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-image: url("./assets/chinhoi.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.services-grid {
    display: flex;
    flex-direction: column;
}