.services-title {
    color: #013716;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 48px;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

.services-section {
    margin-bottom: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./assets/services.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    /* background-attachment: fixed; */
}