.services-section {
    margin-bottom: 20px;
    margin-top: 0px;
    height: 100vh;
    display: flex;
    color: black !important;
    justify-items: center;
    align-items: center;
    flex-direction: column;

}

.services-title {
    color: #013716;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 48px;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    justify-items: center;
    margin-top: 50px;
}


.services-row {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

.services-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
}



.services-card {
    gap: 10px;
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 400px;
    border-width: 20px;
    border-radius: 20px;
    margin-top: 0px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    background-color: rgb(251, 251, 212) !important;

}