.services-title {
    color: #013716;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 48px;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

.services-section {
    margin-bottom: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}