.testimonials-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: auto;
    background-color: #00240e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
}

.test-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.testimonials-section .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

.testimonials-container {
    padding: 30px;
    color: white !;

}

.testimonials-section p {
    color: yellow;
}

.testimonials-section h2 {
    margin-bottom: 20px;
}

.testimonials-p {
    color: white !important;
    font-style: bold;
}

.testimonials-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 2px 0 black;
}


.testimonials-card:hover {
    transform: scale(1.05);
    opacity: 1;
}


.testimonials-button {
    background-color: transparent;
    border-color: yellow;
    border-radius: 25px;
    align-self: center !important;
    margin-bottom: 30px;
}

.testimonials-button:hover {
    background-color: #fff;
    border-color: transparent;
    color: black;
}

.test-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.testimonials-section h2 {
    margin-top: 80px;
}

.fa-star {
    color: gold !important;
}

.testimonials-section p {
    color: white;
}